/* globalStyles.css */

body {
    background-color: #BA324F; 
    font-family: 'Arial', sans-serif;
    color: #FFF;
  }

h2,h3{
  color: #F5D547;
}

 /* Main content */

.main{
  margin: auto;
  max-width: 1440px;
}

/* HEADER COMPONENT */

  /* Getting the content to center*/
.header-container {
  text-align: center;
}

/* Style the links inside the navigation bar */
.main-heading{
  font-size: 50px;
  font-family: 'Roboto', sans-serif;
}

.paragraph-text{
  padding-top: 10px;
  font-size: 20px;
}

.note-text {
  font-size: 20px;

}

/* GUIDE COMPONENT */

.guide ol {

  list-style-type: none;
  counter-reset: my-counter;
}

.guide li::before {

  content: "▼ ";
  counter-increment: my-counter;
  font-weight: bold;
  color: #F5D547;
  font-size: 25px;
}

.guide{
  margin:50px 0 50px 0;
  font-size: 20px;
}



/* UPLOAD IN APP.JSX */


.handle-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 25vh;

  background-image: url('../assets/backgrouncover.png');

  background-repeat: no-repeat;

  background-position: center center;

  background-size: cover;
}



.card {
  color: black;
  width: 200px;
  height: 300px;
  margin: 0 10px;
  border-radius: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.card input {
  display: none; /* Hide the actual file input */
}

.card i {
  color: #BA324F;
  font-size: 60px;
  margin-bottom: 10px; /* Adjust spacing as needed */
  margin-right: 10px;
}

.handle-upload img {
  max-width: 100%; /* Set maximum width to 100% of the container */
  max-height: 100%; /* Set maximum height to 100% of the container */
}

.card:hover {
  cursor: pointer;
}



.search-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

} 

.search {
  border-radius: 25px;
  width: 200px; 
  height: 50px; 
  background-color: #F5D547; 
  color: #BA324F; 
  font-size: 20px; 
  border: none;
  margin-top: 80px;




}

 
.search:hover {
  cursor: pointer;
  background-color: #f2f2f2;

}


/* INFO COMPONENT */

.info h3{
  font-size: 25px;
  padding-top: 10px;
}

.info p{
  font-size: 20px;
}


/* TRAIN COMPONENT */

.train-section{
  text-align: center;
  padding-top: 40px;
}

.train-section h4{
  font-size: 50px;
  font-family: 'Roboto', sans-serif;
}

.train-section p{
  font-size: 20px;
}