/* globalStyles.css */

body {
    background-color: #BA324F; 
    font-family: 'Arial', sans-serif;
    color: #FFF;
  }

h2,h3{
  color: #F5D547;
}

 /* Main content */

.main{
  margin: auto;
  max-width: 1440px;
}

/* HEADER COMPONENT */

  /* Getting the content to center*/
.header-container {
  text-align: center;
  border-bottom: solid 1px #F5D547;
}

/* Style the links inside the navigation bar */
.main-heading{
  font-size: 50px;
  font-family: 'Roboto', sans-serif;
}

.paragraph-text{
  padding-top: 10px;
  font-size: 20px;
}

.note-text {
  font-size: 20px;

}

/* GUIDE COMPONENT */

.guide ol {

  list-style-type: none;
  counter-reset: my-counter;
}

.guide li::before {

  content: "▼ ";
  counter-increment: my-counter;
  font-weight: bold;
  color: #F5D547;
  font-size: 25px;
}

.guide{
  margin:140px 0 50px 0;
  font-size: 20px;

  
}



/* UPLOAD IN APP.JSX */


.handle-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 35vh;
  background-image: url('../assets/backgrouncover.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.handle-upload.uploaded {
  background-image: none; /* Hide the background image when there's an uploaded image */
}




.card {
  color: black;
  width: 200px;
  height: 300px;
  margin: 0 10px;
  border-radius: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.card input {
  display: none; /* Hide the actual file input */
}

.card i {
  color: #BA324F;
  font-size: 60px;
  margin-bottom: 10px; /* Adjust spacing as needed */
  margin-right: 10px;
}

.handle-upload img {
  max-width: 100%; /* Set maximum width to 100% of the container */
  max-height: 100%; /* Set maximum height to 100% of the container */
}

.card:hover {
  cursor: pointer;
}



.search-button, .train-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

} 

.search, .train {
  border-radius: 25px;
  width: 200px; 
  height: 50px; 
  background-color: #F5D547; 
  color: #BA324F; 
  font-size: 20px; 
  border: none;
  margin-top: 80px;

}

 
.search:hover, .train:hover {
  cursor: pointer;
  background-color: #f2f2f2;

}


/* INFO COMPONENT */

.info-section{
  margin: 100px 0 0 0 ;
}

.info h3{
  font-size: 25px;
  margin-top: 20px;
}

.info p{
  font-size: 20px;
}


/* TRAIN COMPONENT */

.train-section{

  padding-top: 40px;
}

.train-section h2{
  font-size: 50px;
  font-family: 'Roboto', sans-serif;
}

.train-section p{
  font-size: 20px;
}

.train-section ol {

  list-style-type: none;
  counter-reset: my-counter;
  margin: 50px 0 50px 0;

}

.train-section li::before {

  content: "▼ ";
  counter-increment: my-counter;
  font-weight: bold;
  color: #F5D547;
  font-size: 25px;
}

.handle-upload2, .handle-upload3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 25vh;

}

.handle-upload2.uploaded , .handle-upload3.uploaded {
  background-image: none; /* Hide the background image when there's an uploaded image */
}



.card2, .card3 {
  color: black;
  width: 200px;
  height: 300px;
  margin: 0 10px;
  border-radius: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.card2 input, .card3 input {
  display: none; /* Hide the actual file input */
}

.card2 i, .card3 i {
  color: #BA324F;
  font-size: 60px;
  margin-bottom: 10px; /* Adjust spacing as needed */
  margin-right: 10px;
}

.handle-upload2 img, .handle-upload3 img {
  max-width: 100%; /* Set maximum width to 100% of the container */
  max-height: 100%; /* Set maximum height to 100% of the container */
}

.card2:hover, .card3:hover {
  cursor: pointer;
}


.train-upload {
  display: flex;
  justify-content: center;
  align-items: center;
}

.train-upload .card2{
  margin-right: 200px;
}


/* FOOTER COMPONENT */

footer{
  border-top: solid 1px#F5D547;
  margin: 100px 0 50px 0;
}