a.special-font {
    font-size: 40px;
    color: #F5D547;
    font-family: 'Diphylleia', serif;
}


.container {
    display: flex;
    flex-direction: column;
    background: #fff;
    padding-bottom: 30px;
    width: 550px;

}

.header .text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;

}

.text{
    color: #BA324F;
    font-size: 38px;
    font-weight: 700;
}



.inputs-for-signin{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input-signin{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background:#eaeaea ;
    border-radius: 6px;
}

.input-signin img{
    margin: 0px 30px;
}

.input-signin input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
}

.forgot-password{
    text-align: center;
    margin-top: 1px;
    color: #797979;
    font-size: 18px;
}

.forgot-password span{
   color: #BA324F;
   cursor: pointer;
   text-decoration: underline;
}

.submit-signin{
    margin: 20px auto;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #fff;
    background: #BA324F;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}
